I am going to show a form at some point in the future

<form action="/recipes" method="post">
  <p>Title: <input type="text" name="title"></p>
  <p>ingredients: <input type="text" name="ingredients"></p>
  <p>directions: <input type="text" name="directions"></p>
  <p>prep time: <input type="text" name="prep_time"></p>
  <p>image url: <input type="text" name="image_url"></p>
  <p>chef: <input type="text" name="chef"></p>


  <label for="users">Choose a user:</label>

  <select id="users" name="user_id">
    <% @users.each do |user| %>
      <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Make a new recipe">
</form>